@page
@model IndexModel
@{
    ViewData["Title"] = "Contact List";
}
<h1>Contacts</h1>

<div class="mb-3">
    <a class="btn btn-primary" asp-page="/Contacts/Create">New Contact</a>
</div>


<table class="table">
    <thead>
    <tr><th>Name</th><th>Contact</th><th>Email</th><th></th></tr>
    </thead>
    <tbody>
    @foreach(var c in Model.Contacts)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.ContactNumber</td>
            <td>@c.Email</td>
            <td>
                <a class="btn btn-sm btn-link" asp-page="/Contacts/Details" asp-route-id="@c.Id">Details</a>
                <a class="btn btn-sm btn-link" asp-page="/Contacts/Edit" asp-route-id="@c.Id">Edit</a>

                <form method="post" asp-page="/Contacts/Delete" asp-route-id="@c.Id" class="d-inline">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>